*{
    margin: 0;
    padding: 0;
    color:  #1f1f1f;
}
html, body {
    height: 100%;
}

body{
    z-index: 0;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 11rem;
    transform: translateY(80%);
    box-shadow:0;
    padding-top: unset;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 0.5s ease-in-out 0.5s;
    z-index: 2;
    background-color: white;
}

.spacer{
    height: 12rem;
    width: 100%;
}


.search-wrap{
    padding-top: 1.5rem;
}

#search:focus{
    width: 12rem;
    outline: none;
    background-position: left;
    background-position-x: 10px;
}

#search:focus{
    padding-left: 2.5rem;
}

#search {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 30px;
    outline: none;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-image: url("images/search-icon.png");
    background-position: center;
    background-size: 1.5rem;
    background-repeat:no-repeat;
    border-color:#303030;
    margin-bottom: 10px;    
}

h1{
    font-family: 'Antic Didone', serif;
}

.category{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    margin-bottom: 5px;   
}

.categories{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    margin-top:5px;
    padding: 0px 10px 0px;
    border-radius: 10px;
    min-width: 110px;
    overflow: hidden;
    box-shadow: 2.5px 5px 10px rgb(190, 190, 190);
    position: relative;    
}

.category-button{
    display: flex;
    justify-content: center;
}

#category-button{
    background-color: transparent;
    border: solid 1px #1f1f1f;
    padding: 3px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Antic Didone', serif;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    transition: all 0.5s ease;
    box-shadow: none; 
}

#category-button:hover{
    box-shadow: 2px 2px 5px rgba(99, 99, 99, 0.4);
    cursor: pointer;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    transition: all 0.5s ease; 
}

#category-button:focus{
    outline: none;
}

#category-button:active{
    box-shadow: none;
}

.categories>button:hover{
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(124, 124, 124, 0.2);    
}

.categories>button:focus{
    outline: none;
    padding-bottom: 1px;
    border-bottom: 1px solid black;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.2);
}

.categories input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.categories label {
    display: inline-block;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    padding-top:5px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right:10px;
    padding-left:10px;
}

.categories input[type="radio"]:checked + label {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    text-shadow: 1px 1px 1px rgba(133, 133, 133, 0.2);
    background-color: rgb(212, 212, 212);
    width: 100%;
}

.categories input[type="radio"]:hover + label{    
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgb(179, 179, 179);
}

.news-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(238, 238, 238);
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

.title2{
    font-size: 1.1rem;
    font-family: 'Antic Didone', serif;
}

.description{
    padding-top: 5px;
    font-size: 0.8rem;
    font-family: 'Antic Didone', serif;
    text-align: justify;
    
}

.source{
    padding-top: 6px;
    font-size: 0.8rem;
    font-family: 'Antic Didone', serif;
    text-transform: capitalize;
}

.news{
    width: 400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: unset;
    margin-top: 40px;
    margin-bottom: 40px;
    padding:15px;
    transition: opacity 1.5s;
    will-change: opacity;
    z-index: 1;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
    box-shadow: 5px 5px 10px rgb(179, 179, 179);    
}

.news.fade{
    opacity: 0;
    box-shadow: 0;
}

a{
    text-decoration: none;
}

.last-news-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    height: 230px;
}

.last-news{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    text-align: center;
    transform: scale(0.9);
    max-width: 250px;
    padding-left: 20px;
    padding-right:20px;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    will-change: opacity;
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
    padding: 15px;
    position: relative;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    transition: all 0.5s ease; 
    box-shadow: none;
}

.last-news:hover{
    box-shadow: 5px 5px 10px rgba(107, 107, 107, 0.575);
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    transition: all 0.5s ease; 
}

.title3{
    font-size: 0.95rem;
    font-weight: bold;
}

.last-news.fade{
    opacity: 0;
}

.title:hover{
    cursor: pointer;
}
