*{
    margin: 0;
    padding:0;
}

html, body { height: 100vh; }

body{
    display: flex;
    justify-content: center;
    align-items: center;
}



.headerUpdated{
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    text-align: center;
    padding-top: 1rem;
    box-shadow: 0.2px 0.2px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    transition: all 1s linear;
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -12rem;
}

.search-wrap{
    padding-top: 1.5rem;
    
}

#search:focus{
    width: 12rem;
    height: 1.5rem;
    border-radius: 15px;
    outline: none;
    background-position: left;
    background-position-x: 10px;
    
    
}


#search:hover{
    cursor: pointer;
}

#search:focus{
    padding-left: 2rem;
}

#search {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 15px;
    outline: none;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-image: url("images/search-icon.png");
    background-position: center;
    background-size: 1rem;
    background-repeat:no-repeat;
    border-color:#303030;
    margin-bottom: 10px;
}

h1{
    font-family: 'Antic Didone', serif;
    color: #1f1f1f;
}


.categories>button:hover{
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.2);
}

.categories>button:focus{
    outline: none;
    padding-bottom: 1px;
    border-bottom: 1px solid black;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.2);
}

.categories{
    padding-top: 1.5rem;
    width: 100%;
    max-width: 45rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}


.categories input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

.categories label {
    display: inline-block;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1.5s;
}

.categories input[type="radio"]:checked + label {
    outline: none;
    padding-bottom: 1px;
    border-bottom: 1px solid black;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.2);
}

.categories input[type="radio"]:hover + label{
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.2);
}
